/*Insert global rules here - rules that apply for all pages on your site and all device sizes. This could be text color, font type, font-sizes, margin on elements */


/* dette er en universel regel for vores site*/
* {
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
}

/* dette er en universel regel for vores site*/



h1,
h3,
h2,
h4,
* {
	font-family: 'Patrick Hand', cursive;
}



/*when you develop mobile first responsive pages, you add rules for different device sizes after all the global rules, starting with the smallest screen size*/

/* JOACHIMS HEADER
#baggrund {
	opacity: 0.3;
    filter: alpha(opacity=30)
	
} 
*/
/* JOACHIM - LOGO NAV OG HEADER OG BAGGRUND */
/*#logo {
	width: 50%;
	top: 0;
	left: 0;

}

nav {
	width: 40%;
	font-size: 8px;
	float: left;
	display: flex;
	flex-direction: column
}

header {
	width: 100%;
	height: 15%;
	left: 0;
	top: 0;
	position: fixed;
	background-color: #ffffff;

}

*/

#baggrund {
	width: 100%;
	background-image: url("../images/baggrund.jpg");
	background-repeat: repeat-y;

}

/* JOACHIM - LOGO NAV OG HEADER OG BAGGRUND */


/*HEADER*/

/*Dette er er lavet af Michelle og taget fra: url:https://github.com/michellemotivates/flexnavigation 
Den er dog tilpasset til vores projekt*/

/* TIL ANDERS AND SIDE  */

.side > .panel {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side > img {
	width: 100%;
}

.side > .panel > img {
	width: 80%;

}

/* TIL ANDERS AND SIDE */




header {
	background: white;
	width: 100%;
	padding: 0 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#logo-burger {
	display: flex;
	align-items: center;

}

#logo img {
	width: 100%;
}

#logo,
#main-nav a {
	color: black;
	text-decoration: none;
}

#main-nav {
	display: flex;
	margin-right: .5em;
	list-style: none;
}

#main-nav a {
	display: block;
	margin-left: 1em;
	font-size: 1.4em;
	line-height: 1.4em;
}

#main-nav a:hover {
	color: red;
}

.active {
	color: red;
}

.hidden {
	display: none;
}


/* Asger css */

/* HER ER ALLE VORES OVERSKRIFTSBILLEDER */

.nyeudgivelser {

	width: 70%;
	margin-left: 50px;

}

.historie {

	width: 70%;
	margin-left: 50px;

}

.kontaktos {
	width: 70%;
	margin-left: 50px;


}

.voresudvalg {
	width: 70%;
	margin-left: 50px;

}

.rutevejledning {

	width: 70%;
	margin-left: 50px;

}



/* HER ER ALLE VORES OVERSKRIFTSBILLEDER */



/* HER ER ALLE VORES HVIDE PANELER SOM INDRAMMER VORES TEKST OG BILLEDER  */

.panel {

	display: block;
	border: solid;
	background-color: #ffffff;
	margin-bottom: 3%;


}

.panel1 {

	display: block;
	border: solid;
	background-color: #ffffff;

}

.panel2 {

	display: block;
	border: solid;
	background-color: #ffffff;

}

.panel3 {

	display: block;
	border: solid;
	background-color: #ffffff;

}

.panel4 {

	margin-top: -120px;
	width: 100%;

}

.panel5 {

	display: block;
	border: solid;
	background-color: #ffffff;
	width: 100%;

}

.panel6 {

	display: block;
	border: solid;
	background-color: #ffffff;
	width: 100%;

}


/* HER ER ALLE VORES HVIDE PANELER SOM INDRAMMER VORES TEKST OG BILLEDER  */


/* HER STARTER CSS KODE FOR RUTEVEJLEDNINGSIDE*/

.wrapIn > adresse {

	width: 60%;
	display: flex;
}



/* HER SLUTTER CSS KODE FOR RUTEVEJLEDNINGSIDE*/

/* HER STARTER CSS KODEN FOR "NYE UDGIVELSER" SIDEN*/


.wrapper > img {

	display: flex;
	justify-content: space-around;
	width: 100%;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding-right: 2px;
	padding-left: 2px;



}



/* HER STARTER KODEN TIL VORES HISTORIE CSS*/


.voreshistorie {



	display: flex;

	justify-content: space-between;
	flex-direction: column;
	display: inline-block;



}

.don {

	width: 70%;
	margin: 0 auto;
	float: right;
	/* jeg er ikke sikker på om jeg skal have float: right, eller om det skal fjernes.. */
}



/* HER SLUTTER CSS KODEN FOR "VORES HISTORIE" SIDEN*/





/* HER STARTER JOACHIMs CSS GENRE OG KONTAKT OS */

/* GENRE /*

#genre {
	display: flex;
	flex-direction: column;
    
}

#genre img {
	width: 40%;
}

/* GENRE */
/* KONTAKT OS */

/* Style inputs */
/*#kontaktos {}*/

input[type=text],
select,
textarea {
	width: 100%;
	padding: 4px;
	border: 4px solid #000000;
	margin-top: 2px;
	resize: vertical;
}

input[type=submit] {
	background-color: #cf2e2e;
	color: white;
	padding: 10px 20px;
	border: solid 2px;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
	background-color: #ffffff;
	color: #cf2e2e;
	border: solid 2px #cf2e2e;
}

/* Style the container/contact section */
.container {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
	float: left;
	width: 50%;
	margin-top: 2px;
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.stribe {

	width: 450px;
	;
	margin-left: 25%;

}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

	.column,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

/* KONTAKT OS */





/* HER CSS SLUTTER KODEN FOR "KONTAKT OS" SIDEN*/



/* HER CSS STARTER KODEN FOR "FORSIDEN"*/

.logo {
	display: flex;

	width: 100%;
	height: 100%;



}

.tekst {

	display: flex;

	width: 70%;
	height: 70%;

	padding-top: 200px;
	float: right;
	padding-left: 0px;
	margin-left: 0px;

}

.scroll {

	display: flex;

	width: 70%;
	height: 70%;

	padding-top: 200px;
	float: left;
	padding-left: 0px;
	margin-left: 0px;


}


.mouse {



	width: 20%;
	height: 20%;

	padding-right: 20px;
	margin-right: 50px;
	margin-left: 150px;
	margin-top: -30px;




}







/* HER SLUTTER CSS KODEN FOR "FORSIDEN"*/


/* GENRE */


#genre img {
	width: 40%;
	margin-left: 5%;
}

/* GENRE */




/*rute-vejledningen
L 	AAA  V 	V EEEE TTTTT
L	A   A  V   V  E  	T
L	AAAAA   V V   Eee	T
LLLL A   A	V	EEEE   T  */


.rute-vejledning {
	width: 100%;
	margin: 100px 100px 0px 0px;

}

#rute-vejledning {}

#dage {
	float: left;
	margin: 0% 38% 0% 5%;
	list-style-type: none;
}

#tider {
	list-style-type: none;
}

/*rute-vejledningen
L 	AAA  V 	V EEEE TTTTT
L	A   A  V   V  E  	T
L	AAAAA   V V   Eee	T
LLLL A   A	V	EEEE   T  */







/* HER STARTER VORES MEDIA QUERIES */


/*HER STARTER MEDIA QUERIES FOR "NYE UDGIVELSER" MOBIL - IPAD - LAPTOP*/



@media all and (max-width: 599px) {

	.wrapper > img:nth-child(4),
	.wrapper > img:nth-child(5) {
		display: none;


	}

	.wrapper > img {

		width: 30%;


	}

}


@media all and (min-width: 600px) {

	.wrapper > img:nth-child(4),
	.wrapper > img:nth-child(5) {
		display: none;
	}

	.wrapper > img {

		width: 20%;


	}


}


@media all and (min-width: 1024px) {

	.wrapper > img:nth-child(4),
	.wrapper > img:nth-child(5) {
		display: inline-block;
	}


	.wrapper > img {


		width: 15%;

	}

}


/* HER SLUTTER MEDIA QUERIES TIL "NYE UDGIVELSER" MOBIL - IPAD - LAPTOP */



/* HER STARTER MEDIA QUERIES FOR HEADER */

/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {

	/*HEADER NAV*/
	header {
		display: block;
	}

	#logo-burger {
		justify-content: space-between;
		align-items: center;
	}

	#logo {
		width: 200px;
		margin-top: -50px;
		margin-bottom: -80px;
		margin-right: -35px;
	}

	#logo-burger label {
		display: block;
		font-size: 2em;
		cursor: pointer;
		margin-left: -10px;
	}

	#toggle:checked + #main-nav {
		display: block;
	}

	#main-nav {
		display: none;
	}

	#main-nav li {
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	#main-nav a {
		margin: 0;
	}

	#main-nav li:last-of-type {
		border-bottom: none;
	}
}

/*MEDIA QUERY MOBILE */


/*MEDIA QUERY FOR TABLET AND ABOVE*/

@media all and (min-width: 600px) {

	/*HEADER NAV*/
	header {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	#logo-burger {
		margin: 0;

	}

	#logo {
		margin-top: .3em;
		width: 200px;
		margin-left: -50px;
		margin-bottom: -70px;
		margin-top: -40px;
		margin-right: -20px;
	}

	#main-nav {
		justify-content: space-between;
		width: 100%;
		margin-top: 10px;

	}

	#main-nav a {
		margin: 0 .5em;
	}

	.hidden {
		display: none;
	}

	label {
		display: none;
	}

	#main-nav {
		margin-top: 30px;
	}
}

/*MEDIA QUERY FOR TABLET AND ABOVE*/


@media all and (min-width: 1024px) {

	/*HEADER*/
	header {
		align-items: center;
	}


	#main-nav {
		margin-top: 0;
		justify-content: center;
		margin-bottom: 20px;
		margin-top: -2px;
	}


	#logo {
		width: 240px;
		margin-top: -40px;

	}


}

/*HEADER*/
/*MEDIA QUERY LAPTOP AND ABOVE*/

/*Dette er er lavet af Michelle og taget fra: url:https://github.com/michellemotivates/flexnavigation 
Den er dog tilpasset til vores projekt*/


/* HER BEGYNDER MEDIA QUERIES FOR FORSIDEN */


/* MEDIA QUERIE MOBIL*/

@media all and (max-width:599px) {


	.billeder {

		display: none;


	}


	.stribe {

		display: none;

	}


	.maps {

		width: 100%;


	}

	
.rutevejledning {

		width: 65%;
	
		margin-left: 20%;

	
	}

 .kontaktos {


	 width: 65%;
	 margin-left: 20%;

}
	
	
}





@media all and (min-width:600px) {


	.udenfor {

		display: block;
		width: 80%;
		height: 80%;
		margin-left: 70px;
		padding: 30px;
		border-radius: 12%;
		border: 10px black;



	}


	.logo {

		display: none;
	}


	.scroll,
	.tekst {

		width: 30%;
		flex-direction: column;


	}

	.scroll {

		margin-top: 1px;

	}


	.mouse {

		display: none;
	}

	.butikken1,
	.butikken2 {


		display: none;

	}


	/* dette er media querie for .nyeudgivelser billede på mobil*/

	.nyeudgivelser {

		width: 30%;
		margin-left: 35%;
	}

	.voresudvalg {

		width: 30%;
		margin-left: 35%
	}

	.voreshistorie > img {

		width: 30%;
		margin-left: 35%;



	}


	.voreshistore > panel2 {

		width: 200%;


	}

	.kontaktos {

		width: 30%;
		margin-left: 35%;

	}


	.column {

		margin-left: 23%;


	}

	.panel6 {

		display: block;
		border: solid;
		background-color: #ffffff;
		width: 100%;
		padding: 20px;


	}


	.rutevejledning {

		width: 30%;
		margin-left: 30%;

	}

	.maps {

		width: 100%;

	}

	.side {

		width: 50%;
		margin-left: 25%;
	}

	.side > img {

		width: 70%;
		margin-left: 15%;

	}


}

@media all and (min-width:1024px){
	
	
	
	
	
	.udenfor {

		display: block;
		width: 60%;
		height: 60%;
		margin-left: 70px;
		padding: 30px;
		border-radius: 10%;
		border: 10px black;
		margin-left: 20%;
		margin-top: 15%;

	}
	

	.tekst {
		
		position: relative;
		margin-top: -8%;
		
		
	}
	




.scroll {

	display: none;

}





.nyeudgivelser {

	width: 20%;
	margin-left: 40%;


}

.voresudvalg {

	width: 20%;
	margin-left: 40%;

}

#genre img {

	width: 20%;
	margin-left: 10%
}


.voreshistorie {

	width: 70%;
	margin-left: 15%
}


.panel2 {

	padding: 2%;

}

.voreshistorie > panel2 > don {

	width: 100%;


}


.kontaktos {

	width: 20%;
	margin-left: 40%;

}


.rutevejledning {

	width: 20%;
	margin-left: 40%;

}


.maps {

	width: 70%;
	margin-left: 15%;

}

.side > img {

	width: 50%;
	margin-left: 25%;


}


.wrapper > img {
	
	margin-left: 4%;
	
}

}
