/*Insert global rules here - rules that apply for all pages on your site and all device sizes. This could be text color, font type, font-sizes, margin on elements */


/* dette er en universel regel for vores site*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* dette er en universel regel for vores site*/



p {
	font-family: 'Permanent Marker', cursive;
}



/*when you develop mobile first responsive pages, you add rules for different device sizes after all the global rules, starting with the smallest screen size*/


#baggrund {
	
	
	
	
} 